pkgbase = android-utils
	pkgdesc = Various android utility commands.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1.1.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/android-utils
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = libcrash-bash
	source = android-utils-08a00bad2977cbc30c6f1d1ba513b0b9ab8233b3.zip::https://github.com/themartiancompany/android-utils/archive/08a00bad2977cbc30c6f1d1ba513b0b9ab8233b3.zip
	sha256sums = 416a90dcc579b8e2203ab999af9561e63c9488192680fcace6664ac499d80340

pkgname = android-utils
