pkgbase = android-utils
	pkgdesc = Various android utility commands.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1.1.1.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/android-utils
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = libcrash-bash
	source = android-utils-5219b753e1639651e2ddd9f79b235b6b90713fbb.zip::https://github.com/themartiancompany/android-utils/archive/5219b753e1639651e2ddd9f79b235b6b90713fbb.zip
	sha256sums = 0aef5bc11dfa238034790291635a19b69c528b3d64988d1106d68ba8e13338ef

pkgname = android-utils
