pkgbase = android-utils
	pkgdesc = Various android utility commands.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/android-utils
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = libcrash-bash
	source = android-utils-cedee53ffc1386729cbb7d57171ed38c3800448b.zip::https://github.com/themartiancompany/android-utils/archive/cedee53ffc1386729cbb7d57171ed38c3800448b.zip
	sha256sums = 97046ab6956594c193a2d0b98386d16525ed1b98e1b7608d29bbe26c01dae688

pkgname = android-utils
